* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  font-size: 16px;
}

a.active {
  @extend .fw-bold;
}
figure {
  margin: 0 !important;
}

.logo {
  padding-top: var(--bs-navbar-brand-padding-y);
  padding-bottom: var(--bs-navbar-brand-padding-y);
  margin-right: var(--bs-navbar-brand-margin-end);
  font-size: var(--bs-navbar-brand-font-size);
  color: var(--bs-navbar-brand-color);
  text-decoration: none;
  white-space: nowrap;
}

.footer {
  color: $secondary;
  ul li a {
    color: $secondary;
  }
}

.hero {
  .herotitle {
    font-size: 3rem;
    @media (max-width: 425px) {
      font-size: 2.4rem;
    }
  }
  .banner-sm {
    width: 50%;
  }
  .banner-lg {
    width: 100%;
  }
  .happyhome-count {
    font-size: 4rem;
    font-weight: 500;
  }
}
